[submodule "lib/Grove_Digital_Light_Sensor"]
	path = lib/Grove_Digital_Light_Sensor
	url = https://github.com/Seeed-Studio/Grove_Digital_Light_Sensor.git
[submodule "lib/LovyanGFX"]
	path = lib/LovyanGFX
	url = https://github.com/lovyan03/LovyanGFX.git