[submodule "lib/Grove_Digital_Light_Sensor"]
	path = lib/Grove_Digital_Light_Sensor
	url = https://github.com/Seeed-Studio/Grove_Digital_Light_Sensor.git
[submodule "lib/LovyanGFX"]
	path = lib/LovyanGFX
	url = https://github.com/lovyan03/LovyanGFX.git
[submodule "lib/Seeed_BME680"]
	path = lib/Seeed_BME680
	url = https://github.com/Seeed-Studio/Seeed_BME680.git
[submodule "lib/Seeed_Arduino_FreeRTOS"]
	path = lib/Seeed_Arduino_FreeRTOS
	url = https://github.com/Seeed-Studio/Seeed_Arduino_FreeRTOS.git
[submodule "utils/uf2"]
	path = utils/uf2
	url = https://github.com/microsoft/uf2
[submodule "lib/Seeed_Arduino_FS"]
	path = lib/Seeed_Arduino_FS
	url = https://github.com/Seeed-Studio/Seeed_Arduino_FS.git
[submodule "lib/Seeed_Arduino_SFUD"]
	path = lib/Seeed_Arduino_SFUD
	url = https://github.com/Seeed-Studio/Seeed_Arduino_SFUD.git
